@import url('dropdown.css');
@import url('fonts.css');

.header-line{
	border-top-color:#865278;
	border-top-style: solid;
}

.header-logo-lexar{
	max-width:146px; 
	max-height:47px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.header-social{
	max-width:34px; 
	max-height:34px;
}

.header-ico-idioma{
	max-width:34px;
	max-height:38px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer{
    background: #e6e6e6;
}

.footer-logo{
    margin-left: 10%;
    padding: 20%;
}

.footer-border{
    border-left: 0.5px solid;
    border-bottom: 0.5px solid;
    border-top: 0.5px solid;
}

.footer-span{
    font-size:1.5em; 
    display: block;
    padding:5%;
}

.footer-div{
    margin-top:20%;
}

.footer-social{
    max-width:36px; 
    max-height:36px;
}

.footer-social-div{
    margin-top:10%;
}

.footer-social-div-first{
    margin-top:10%;
    margin-left:15%;
}

.copyright{
    font-size:1em;
    margin-left:15%;
    margin-top:20%;   
}

.footer{
    background: #e6e6e6;
}

.col-header-social{
    padding:30px;
    background:000000;
}

.col-header-language{
    padding:30px;
}

.nav > .active {
    background-color: #f9f9f9;
    border-left-color: #865278;
    border-left-style: solid;
}


.navbar {
    background-color: #f9f9f9;    
}

.menu-item {
    border-left-style:solid;
    border-left-color:#f9f9f9;
}

.menu-item-text{
    color:black;
}

li.active > a {
    color: #865278;
    font-weight: bold;
}

ul li a {
    color:black;
    padding: 150px;
}

@media screen and (min-width:970px){

.nav > .active {
    background-color: #f9f9f9;
    border-top-color: #865278;
    border-top-style: solid;
    border-left: none;
}

.menu-item {
    border-top-style:solid;
    border-top-color:#f9f9f9
}

}